.big-profile h1 {
    font-size: 30px;
    color: ghostwhite;
    margin: 0px;
}

.chart {
    position: relative;
}

.chart-row {
    height: 500px;
    width: 800px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 5;
    background: #3a4046; 
    border-radius: 10px;
    top: 300px;
    left: -50px;
    transform: translate(-50%, -50%);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 100px;
    overflow: auto;
}

.game-cont {
    display: flex;
    position: relative;
    width: 100%;
    background-color: #24292e;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgba(1, 1, 1, 0);
    margin: 10px;
}

.game-cont:hover {
    border: 1px solid white;
}

.current-games-h1 {
    position: absolute;
    top: 10px;
    left: -200px;
}

.white-black {
    position: absolute;
    top: 60px;
    justify-content: space-between;
    width: 300px;
    display: flex;
    right: -20px;
}

.white-black h1 {
    width: 0px;
}

.current-turn-h1 {
    position: absolute;
    top: 60px;
    justify-content: space-between;
    width: 300px;
    display: flex;
    left: 250px;
}