.game-view {
    display: flex;
    z-index: 0;
    align-items: center;
    flex-direction: column;
}

h1 {
    width: 300px;
    margin-top: 20px;
}

.chat-cont {
    position: relative;
    height: 400px;
    width: 400px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: -340px;
    margin-right: -200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #eeeeee;
    justify-content: space-between;
    border-radius: 9px;
    overflow: auto;
    overflow-wrap: normal;
    overflow-x: hidden;
    padding-right: 10px;
}

.game-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-input {
    width: 80%;
    position: absolute;
    bottom: 0px;
}

.input-btn-div {
    position: absolute;
    bottom: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.send-btn {
    position: absolute;
    width: 20%;
    bottom: 0px;
    right: 0px;
    border: 1px solid rgb(122, 122, 122);
    border-left: none;
    height: 30px;
    border-radius: 4px;
}

.typing-message {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 40px;
}

.my-message {
    display: flex;
    position: relative;
    right: 0px;
    margin-left: 5px;
    padding-left: 25px;
    margin: 10px 0px;
    /* background-color: lightblue; */
}

.message {
    display: flex;
    position: relative;
    margin-right: 5px;
    justify-content: flex-end;
    margin: 10px 0px;
    /* background-color: purple; */
    padding-right: 25px;
    /* background-color: red; */
}

.my-message .chat-message {
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 3px 0;
    margin-left: 3px;
    word-wrap: break-word;
    margin-right: 10px;
}

.message .chat-message {
    background-color: lightblue;
    border-radius: 10px;
    padding: 3px 0;
    margin-left: 3px;
    word-wrap: break-word;
}

.chat-username {
    margin-top: 3px;
}

.messages {
    width: 100%;
    position: absolute;
    top: 0px;
}

.chat-prof-pic {
    margin-right: 5px;
}

.online-users-h1 {
    margin-top: 10px;
}

.mobile-h1 {
    /* display: none; */
    color: white;
    font-size: 2rem;
    width: 600px;

}

@media (max-width: 425px) {
        
    .chat-cont {
        position: absolute;
        height: 200px;
        width: 280px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        margin-top: 0px;
        margin-right: 0px;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: #eeeeee;
        justify-content: space-between;
        border-radius: 9px;
        overflow: auto;
        overflow-wrap: normal;
        overflow-x: hidden;
        padding-right: 10px;
        top: 370px;
        left: -40px;
    }
    .send-btn {
        position: absolute;
        width: 20%;
        bottom: 0px;
        right: 0px;
        border: 1px solid rgb(122, 122, 122);
        border-left: none;
        height: 30px;
        border-radius: 4px;
    }

    .mobile-h1 {
        display: inline-block;
        color: white;
        font-size: 1rem;
        width: 200px;
    }
}


