.small-profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;   
}

.small-profile {
    color: rgb(184, 184, 184);
    border: 1px red solid;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: flex;
    box-sizing: border-box;
}

.profile h2 {
    margin-top: 25px;
}

.profile .profile-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    background: rgb(64, 70, 82);
    width: 225px;
    height: 125px;
    border-radius: 8px;
}

.left-box i {
    font-size: 100px;
    color: #CED0CE;
    
}

.left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: ghostwhite;
    border: 5px #30BCED;
    height: 50px;
    width: 100px;
    border-radius: 50%;
    margin-left: 30px;
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 200px;
    width: 300px;
    border-radius: 8px;
}

.profile button {
     color: rgb(159, 206, 159);
      margin: 0 5px;
      background: rgb(84, 84, 95);
      border-radius: 5px;
      border: none;
      height: 25px;
      font-size: 15px;
      font-weight: 800;
      font-family: 'PT Sans Caption', sans-serif;
    
}

#same {
    display: none
}

.profile .profile-btn {
    color: rgb(89, 106, 139)
}

.profile h4 {
    font-size: 25px;
}

.small-profile button:disabled {
    color: rgb(46, 44, 51);
}








/* media queries */

@media (max-width: 1670px) {
    .profile {
        background-size: auto 100vh;
    }
}

@media (max-width: 1230px) {
    .profile {
        background-size: auto 100vh;
    }
}

@media (max-width: 850px) {
  .profile {
    background-size: auto 100vh;
  }
}

@media (max-width: 620px) {
    .profile .profile-box {
        width: 450px;
        margin-top: 50px;
    }

    .profile .h2 {
        margin-top: 10px;
    }

    .left-box {
        width: 125px;
        height: 125px;
    }

    .right-box {
        width: 200px;
        height: 100px;
    }
}

@media(max-width: 470px) {
    .profile .profile-box {
        width: 300px;
        height: 200px;
    }

    .left-box {
        margin-left: 5px;
    }

    .profile h2 {
        margin-top: 10px;
    }
    }
