.small-profile img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

.small-profile {
    color: rgb(184, 184, 184)
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.profile h2 {
    margin-top: 25px;
}

.profile .profile-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    background: rgb(64, 70, 82);
    width: 425px;
    height: 225px;
    border-radius: 8px;
}

.left-box i {
    font-size: 100px;
    color: #CED0CE;
    
}

.left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: ghostwhite;
    border: 5px #30BCED;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 30px;
}

.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 200px;
    width: 300px;
    border-radius: 8px;
}

.profile button {
    color: rgb(159, 206, 159);
}

.profile .profile-btn {
    color: rgb(89, 106, 139)
}

.profile h4 {
    font-size: 25px;
}





/* media queries */

@media (max-width: 1670px) {
    .profile {
        background-size: auto 100vh;
    }
}

@media (max-width: 1230px) {
    .profile {
        background-size: auto 100vh;
    }
}

@media (max-width: 850px) {
  .profile {
    background-size: auto 100vh;
  }
}

@media (max-width: 620px) {
    .profile .profile-box {
        width: 450px;
        margin-top: 50px;
    }

    .profile .h2 {
        margin-top: 10px;
    }

    .left-box {
        width: 125px;
        height: 125px;
    }

    .right-box {
        width: 200px;
        height: 100px;
    }
}

@media(max-width: 470px) {
    .profile .profile-box {
        width: 300px;
        height: 200px;
    }

    .left-box {
        margin-left: 5px;
    }

    .profile h2 {
        margin-top: 10px;
    }
    }
