* { 
  color: white;
}

li {
  font-size: 20px;
}

button {
  color: black;
}


.sidebar {
  display: flex;
  height: 95%;
  width: 250px;
  /* border: 1px solid yellow; */
  position: fixed;
  top: 5%;
  left: -250px; 
  flex-direction: column;
  background-color: #1c1c1c
}

.sidebar.open {
  height: 95%;
  width: 250px;
  /* border: 1px solid yellow; */
  position: fixed;
  top: 5%;
  transition: right 0.2s ease-in-out;
  left: 0;
}


/* .sidebar .open {
  left: 0
} */

/* .fa-bars {
  display: flex;
  margin-left: 10px;
  font-size: 30px;
  color: white;
  position: fixed;
  
} */

.hamburger {
  margin-left: 2px;
  display: flex;
  margin-top: 7px;
  position: fixed;
}



.profile-picture {
  max-height: 50px;
  max-height: 50px;
  display: block;
  margin: 30px 0 100px 100px;
}

.username {
  text-align: center;
  display: flex;
  position: absolute;
  top: 10%;
  right: 38%;
  font-size: 25px;
}

.friends-list{
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.offline-online {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: green;
  display: flex;  
  margin: 0 10px 2px 10px;
  display: inline-block;
}

.friends-list button {
  margin-left: 10;
}

.friends-list li {
  margin: 12px 0;
}

.top-users {
  display: block;
  height: 100px;  
  width: 100%;
  margin-top: 300px;
}

.top-users li {
  margin: 12px 0;
}



