* { 
  margin: 0;
  
}

li {
  font-size: 20px;
  
}

button {
  color: black;
}


.sidebar {
  height: 100%;
  width: 300px;
  /* border: 1px solid yellow; */
  position: fixed;
  top: 5%;
  left: -300px; 
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
  background-color: #1c1c1c;
  color: rgb(184, 184, 184)
}

.sidebar.open {
  height: 100%;
  width: 300px;
  /* border: 1px solid yellow; */
  position: fixed;
  top: 0;
  /* transition: right 0.2s ease-in-out; */
  -webkit-animation: slide 0.5 forwards;
  animation: slide 0.5s forwards;
  /* left: 0; */
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

.sidebar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.sidebar li {
  background-color: #26272b;
  min-width: 90%;
  margin: 0px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


/* .sidebar .open {
  left: 0
} */

/* .fa-bars {
  display: flex;
  margin-left: 10px;
  font-size: 30px;
  color: white;
  position: fixed;
  
} */

.hamburger-closed {
  margin-left: 2px;
  margin-top: 7px;
  top: 0px;
  left: 0px;
  position: absolute;
}

.hamburger-open {
  margin-left: 2px;
  margin-top: 7px;
  top: 0px;
  right: 8px;
  position: absolute;
}

.profile-div {
  width: 245px;
  height: 20vh;
  margin-top: 20px;
  margin-left: 0;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: center;
  /* border: 1px purple solid; */
}

.login-div {
  width: 245px;
  height: 10vh;
  margin-top: 0;
  margin-left: 0;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
  align-content: center;
  /* border: 1px purple solid; */
}

.sidebar-portrait {
  width: 75px;
  height: 75px;
  margin-left: 40px;
  padding: 10px;
  z-index: 1;
  /* border: 1px red solid; */
}

.profile-picture {
  width: 100px;
  height: 100px;
  /* border: 1px red solid; */
  border-radius: 50%;
}

.modal-portraits {
  position: absolute;
  width: 47vw;
  height: 50vh;
  bottom: 7%;
  left: 5%;
  display: flex;
  flex-wrap: wrap;
  /* border: red 1px solid; */
}

h4 {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  /* top: 10%;
  right: 42%; */
  /* border: 1px red solid; */
}

.friends-list{
  /* display: block; */
  height: 40%;
  width: 100%;
  margin-top: -30px;
  color: white;
  position: relative;
  font-size: 25px;
  overflow-y: auto;
  /* border: 1px red solid; */
}

#scroll-style::-webkit-scrollbar-track
{
  box-shadow: 1px 1pxe;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: rgb(102, 102, 102);
  
}

#scroll-style::-webkit-scrollbar
{
	border-radius: 10px;
	width: 12px;
	background-color: rgb(102, 102, 102);
  
}

#scroll-style::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: 1px 1px;  
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.friend h5 {
  min-width: 100px;
}

.friend-offline {
  color: rgb(167, 167, 167);
}


.offline-online {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: green;
  display: flex;  
  margin: 0 10px 2px 10px;
  display: inline-block;
}

.friends-list button {
  margin-left: 10;
}

.friends-list li {
  margin: 12px 0;
}

.top-users {
  display: block;
  height: 25%;  
  width: 100%;
  margin-bottom: 10%;
  color: white;
  overflow: auto;
  /* border: 1px blue solid; */
}

.top-users li {
  margin: 12px 0;
}

/* LOGIN MODAL */
.login-modal-content {
  display: flex;
  position: absolute;
  width: 30vw;
  height: 50vh;
  left: 270%;
  /* left: 750px; */
  top: 50vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /* margin-top: 500px; */
  transform: translate(-50%, -50%);
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  border-radius: 10px;

  /* border: 1px salmon solid; */
}

/* Modal Body */
.login-modal-body {
  position: relative;
  overflow-y: auto;
  height: 50vh;
  width: 100%;
  padding: 0px;
  background-color: black;
  color: ghostwhite;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  /* border: 3px green solid; */
}

/* Modal Header */
.login-modal-header {
  padding: 2px 16px;
  background-color: black;
  color: ghostwhite;
  /* border: 3px yellow solid; */
}

.login-modal-header h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 40px;
}

/* REGISTER MODAL */
.register-modal-content {
  position: absolute;
  width: 40vw;
  /* height: 63vh; */
  left: 270%;
  top: 50vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  z-index: 10;
  border-radius: 10px;
  /* border: 1px salmon solid; */
}

/* Modal Body */
.register-modal-body {
  position: relative;
  overflow-y: auto;
  /* height: 450px; */
  width: 100%;
  padding: 0px;
  background-color: black;
  color: ghostwhite;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  /* border: 1px green solid; */
}

/* Modal Header */
.register-modal-header {
  height: 10%;
  padding: 2px 16px;
  background-color: black;
  color: ghostwhite;
  /* border: 1px yellow solid; */
}

.modal-registerInfo {
  position: relative;
  height: 100px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; */
  /* border: 1px blue solid; */

}

/* PORTRAIT MODAL */

.portrait-modal-content {
  display: flex;
  position: absolute;
  width: 55vw;
  height: 63vh;
  left: 270%;
  /* left: 750px; */
  top: 50vh;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 500px; */
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
  z-index: 10;

  /* border: 1px salmon solid; */
}

/* Modal Body */
.portrait-modal-body {
  position: relative;
  overflow-y: auto;
  height: 450px;
  width: 100%;
  padding: 0px;
  background-color: black;
  color: ghostwhite;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  /* border: 3px green solid; */
}

/* Modal Header */
.portrait-modal-header {
  padding: 2px 16px;
  background-color: black;
  color: ghostwhite;
  /* border: 3px yellow solid; */
}

.portrait-modal-header h2 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 40px;
}

/* close button */
.close {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 90%;
  color: #aaa;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  font-size: 36px;
  font-weight: bold;
  z-index: 10;
  /* -webkit-animation: fadeOut ease 1s;
  animation: fadOut ease 1s; */
  /* border: 1px red solid; */
}

.close:hover, .close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-loginInfo {
  height: 200px;
  width: 200px;
  margin-left: 38%;
  margin-top: 10%;
  padding: 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  /* border: 1px red solid; */
}

.sidebar button {
    margin: 0 5px;
  background: rgb(84, 84, 95);
  border-radius: 5px;
  color: ghostwhite;
  border: none;
  height: 25px;
  font-size: 15px;
  font-weight: 800;
  font-family: 'PT Sans Caption', sans-serif;
}

.modal-registerInfo {
  height: 490px;
  width: 700px;
  margin-left: 50px;
  padding: 0px;
  background-color: black;
  display: flex;
flex-direction: column;
flex-wrap: nowrap;
/* justify-content: space-around; */
align-items: center;
  align-content: stretch;
  /* border: 1px red solid; */
}

#summary {
  padding: 30px 0 0 0;
}

.friends-list h3 {
  margin-top: 10px;
  margin-bottom: 25px;
  text-decoration: underline;
}

/* Modal Footer */
/* .modal-image {
  height: 410px;
  width: 300px;
  padding: 0px;
  margin-top: -500px;
  margin-left: 70px; 
  background-color: black;
  color: white;
  border: 3px purple solid;
} */

/* .popup-image {
  height: 400px;
  width: auto;
} */

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-webkit-keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.overlay {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0,0,0,0.5)
}

.portrait-small {
  height: 25px;
  width: 25px;
}

.invite-btn {
  min-width: 90px;
}