.red {
  height: 13px;
  width: 13px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, .1);
  border: 1px solid white;
}

.green {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: green;
}