.whole-game {
    /* can rotate this and .piece for blacks turn */
    /* transform: rotate(180deg); */
    position: relative;
    margin-top: 50px;
}

#mainChessBoard
{
    width:650px;
    height:650px;
    margin-top: 50px;
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
}

#mainChessBoard div {
    position: relative;
    width:80px;
    height:80px;
    z-index: 15;
}

.white {
    background: white;
}

/* .white:active {
    background: rgb(219, 230, 122);
} */

.black {
    background: #ababab;
}

.yellow {
    background: rgb(219, 230, 122);
}

.yellow2 {
    background: rgb(187, 199, 83);
}

.y-dot {
    position: absolute;
    height: 20px !important;
    width: 20px !important;
    transform: translate(30px, 30px);
    background: rgb(143, 65, 65);
    border-radius: 50%;
    z-index: 55;
}

/* .black:active {
    background: rgb(219, 230, 122);
} */

.border-letters h1 {
    color: white;
    font-size: 2rem;
    margin: 0;
}

.border-letters .bottom-letters {
    display: flex;
    flex-direction: row;
    width: 650px;
    margin-top: 10px;
    position: absolute;
    bottom: -60px;
}

.left-numbers {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-around;
    position: absolute;
    left: -180px;
    top: 40px;
}

.border-letters {
    width: 680px;
    height: 680px;
    position: relative;
    top: -700px;
    z-index: 10;
}

.left-numbers h1 {
    margin: 0px;
}

.piece {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    z-index: 10;
    margin-left: -30px;

}

#w {
    filter: drop-shadow(0mm 0mm .1rem rgb(0, 0, 0));
}

#b {
    filter: drop-shadow(0mm 0mm .1rem rgb(0, 0, 0));
}

.game-info {
    position: absolute;
    right: -200px;
    top: 0px;
    height: 200px;
    min-width: 400px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-top: 0px;
    margin-right: -200px;
    display: flex;
    flex-direction: row;
    background-color: #eeeeee;
    justify-content: space-between;
    border-radius: 9px;
    /* overflow: scroll; */
    overflow-wrap: normal;
    overflow-x: hidden;
    padding-right: 10px;
}

.player-turn {
    font-size: 1.5rem;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 150px;
    margin-top: 10px;
}

.recent-moves {
    font-size: 1.2rem;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 140px;
    margin-top: 40px;
}

.color-select {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: absolute;
    width: 100%;
}

.color-select button {
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    width: 200px;
}

.two-players {
    min-width: 500px;
    position: absolute;
    top: 0px;
    left: 100px;
    display: flex;
    align-items: center;
}

.two-players h1 {
    min-width: 500px;
}

.destroyed-piece {
    height: 30px;
    width: 30px;
    position: absolute;
}

.destroyed-piece-container {
    position: absolute;
    bottom: 35px;
    left: 5px;
}