.logo {
  position: relative;
  width: 600px;
  height: 100px;
  left: 0%;
  margin-top: 20px;
  background-image: url("/assets/Logos/MtChessLogo3-red.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: inline-block;
  /* border: 1px blue solid; */
  z-index: 10;
}

.fa-bars {
  display: flex;
  margin-left: 10px;
  font-size: 30px;
  color: white;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 10px;
}

.sidebar {
  left: -250px;
}

.sidebaropen {
  left: 0
}


.dashboard-nav {
  display: flex;
  justify-content: space-between;
  width: 100 ;
  flex-direction: row;
  margin-top: 5px;
  padding: 4px;
  text-align: center;
}

.dashboard-nav li {
  list-style-type: none;
  transition: 0.3s ease;
  color: ghostwhite;
  font-size: 20px;
  text-decoration: none;
  border-bottom: 2px solid rgba(1,1,1,0);
  padding: 0px 0;
  margin: 0 10px;
}

.dashboard-nav li:hover {
  border-bottom: 2px solid ghostwhite;
  padding: 0px 0px; 
  cursor: pointer;
}

a {
  text-decoration: none;
}


